#:schema node_modules/wrangler/config-schema.json
name = "private-landing-dev"
main = "src/app.ts"
compatibility_date = "2025-01-04"

[assets]
directory = "public"
binding = "ASSETS"
html_handling = "auto-trailing-slash"
not_found_handling = "none"

[vars]
ENVIRONMENT = "development"

[observability]
enabled = false

[env.production]
name = "private-landing"
observability.enabled = true

[env.production.vars]
ENVIRONMENT = "production"